body{
    margin:0;
    padding:0;
}

/* Contenedor principal */
.Rcontainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #000000 20%, #ffffff 100%); /* Fondo estilo espacial */
}

/* Caja de confirmación (mensaje) */
.Rbox {
    border: 2px solid #fffb00; /* Bordes color cian brillante estilo holograma */
    width: 70%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro translúcido */
    color: #ffffff;
    box-shadow: 0px 0px 10px 2px #00ffcc; /* Sombra brillante */
    text-align: center;
    font-family: 'Star Jedi', sans-serif; /* Usa una fuente estilo Star Wars si está disponible */
    transition: all 0.3s ease-in-out;
}

/* Botón de cerrar */
.cerrar {
    border: 2px solid #bbff00; /* Bordes brillantes */
    width: 100px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: #000; /* Fondo oscuro */
    color: #ffe600; /* Texto cian */
    font-family: 'Star Jedi', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Hover en el botón de cerrar */
.cerrar:hover {
    background-color: #fbff00; /* Fondo brillante */
    color: #000; /* Texto oscuro */
    box-shadow: 0 0 10px #ffd900, 0 0 20px #ffe600, 0 0 30px #fbff00; /* Efecto de brillo */
}
